@model ADSBackend.Models.Pass

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedDate" class="control-label"></label>
                <input asp-for="IssuedDate" class="form-control" />
                <span asp-validation-for="IssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassTypeId" class="control-label"></label>
                <select asp-for="PassTypeId" class="form-control" asp-items="ViewBag.PassTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReviewerId" class="control-label"></label>
                <select asp-for="ReviewerId" class="form-control" asp-items="ViewBag.ReviewerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
