@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Account Type: Admin</p>
        <a href="#" class="btn btn-success">
            <span class="fa fa-gear"></span> Settings 
        </a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Create a Pass</h5>
            </div>
            <div class="ibox-content">
                <p>Create your own pass here!</p>
                <a asp-controller="Pass" asp-action="Index" class="btn btn-primary">
                    Pass Creator
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Configuration</h5>
            </div>
            <div class="ibox-content">
                <p>Configuration stuff here.</p>
                <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                    <span class="fa fa-cog"></span> Update Configuration
                </a>
            </div>
        </div>
    </div>
</div>
        

}
